.ppUploader {
    font-size: 1rem;
    border: none;
    padding: 0;
    height: 2.25rem;
    background-color: transparent;
}

    .ppUploader > .suUploaderBoxDotted {
        border: dotted;
        height: 100%;
        margin-right: 50px;
        white-space: nowrap;
        overflow: hidden;
    }

        .ppUploader > .suUploaderBoxDotted > span {
            padding-left: 10px;
            line-height: 2.2;
            vertical-align: middle;
            color: black;
        }

        .ppUploader > .suUploaderBoxDotted:hover {
            border: dotted;
        }

    .ppUploader > button {
        float: right;
        cursor: pointer;
        background-color: orangered;
        padding: 0 12px;
        border-radius: 0.2rem;
        border: 0px;
        height: 100%;
        line-height: 41px;
        margin-right: 2px;
        pointer-events: auto !important;
    }

        .ppUploader > button:hover {
            background-color: darkorange;
            .ppUploaderButtonTransition(@uploaderButtonForeColorVelocity);
        }

        .ppUploader > button > span {
            font: 1.05rem;
            color: white;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

.ppUpload::before {
    content: "\21A5";
}

.ppDownload::before {
    content: "\21A7";
}
