<div tabindex="-1" dc-sector="" class="ppcDropdowntree" dc-classOpen="ppcDropdowntreeOpen" dc-classClose="ppcDropdowntreeClose" dc-classExpand="ppcDropdowntreeExpand" dc-classCollapse="ppcDropdowntreeCollapse" dc-classSelected="ppcDropdowntreeSelected" dc-classSelection="ppcDropdowntreeSelection" dc-key="Key" dc-Value="Value" dc-nullable="false" dc-firstOrDefault="false" dc-ensureValidSelection="false" dc-valueText="" dc-allowMustache="false" dc-modelNotify="true" dc-multiselection="false">
    <textarea class="form-control"></textarea>
    <div>
        <span class="pp ppcDropdowntreeOpen"></span>
    </div>
    <div style="display:none"></div>
</div>