<!DOCTYPE html>
<html>
<head>
    <script src="/drapo.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    
</head>
<body>
    @RenderBody()
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
