<div>
    <div class="row">
        <div class="col-sm-2 col-sm-push-4">
            <h1>Drapo Live Demo</h1>
            <img src="https://powerplanning.visualstudio.com/_apis/public/build/definitions/9a8d97bc-da81-44f5-9988-e2a03c19cdcf/2/badge" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 col-sm-push-4">
            <h2>sectors</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/PageSimple.html">Simple</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/PageMasterMaster.html">Master</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/PageMasterChild.html">Child</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/PageMasterGrandChild.html">Grand Child</a></h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 col-sm-push-4">
            <h2>data</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/DataSimpleLoad.html">Simple</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/DataFullLoad.html">Large</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/DataIncrementalLoad.html">Incremental</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/DataValue.html">Value</a></h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 col-sm-push-4">
            <h2>d-for</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ControlFlowForUl.html">UL</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ControlFlowForSelect.html">Select</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ControlFlowForNested.html">Nested</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ControlFlowForRecursive.html">Recursive</a></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ControlFlowForArray.html">Array</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ControlFlowForJson.html">Json</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ControlFlowForRecursiveIF.html">Recursive IF</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ControlFlowForRecursiveIndex.html">Recursive Index</a></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ControlFlowForRecursiveLevel.html">Recursive Level</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ControlFlowForRecursiveIndexRelative.html">Recursive Index Relative</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ControlFlowForMustacheInsideFor.html">Mustache Inside For</a></h3>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 col-sm-push-4">
            <h2>d-if</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ControlFlowIfUl.html">UL</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ControlFlowIfSelect.html">Select</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ControlFlowIfObject.html">Object</a></h3>
        </div>
     </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 col-sm-push-4">
            <h2>d-model</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h3><a href="~/DrapoPages/ControlFlowModelInputCheckbox.html">Checkbox</a></h3>
        </div>
        <div class="col-sm-2">
            <h3><a href="~/DrapoPages/ControlFlowModelSelect.html">Select</a></h3>
        </div>
        <div class="col-sm-2">
            <h3><a href="~/DrapoPages/ControlFlowModelInputText.html">Text</a></h3>
        </div>
        <div class="col-sm-2">
            <h3><a href="~/DrapoPages/ControlFlowModelTextArea.html">TextArea</a></h3>
        </div>
        <div class="col-sm-2">
            <h3><a href="~/DrapoPages/ControlFlowModelInputPassword.html">Password</a></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h3><a href="~/DrapoPages/MustacheNull.html">Mustache Null</a></h3>
        </div>
        <div class="col-sm-2">
            <h3><a href="~/DrapoPages/ModelObject.html">Model Object</a></h3>
        </div>
        <div class="col-sm-2">
            
        </div>
        <div class="col-sm-2">
            
        </div>
        <div class="col-sm-2">
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 col-sm-push-4">
            <h2>d-attr-</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/Attribute.html">Simple</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ControlFlowForAttribute.html">For</a></h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 col-sm-push-4">
            <h2>route</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/RouterMaster.html">Route Master</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/RouterOne.html">Router One</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/RouterTwo.html">Router Two</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/RouterThree.html">Router Three</a></h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 col-sm-push-4">
            <h2>events</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/EventClickContext.html">Click Context</a></h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 col-sm-push-4">
            <h2>functions</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/FunctionPostDataItem.html">PostDataItem</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/FunctionIF.html">IF</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/FunctionUpdateDataField.html">UpdateDataField</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/FunctionFocus.html">Focus</a></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/FunctionContainsDataItem.html">ContainsDataItem</a></h3>
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 col-sm-push-4">
            <h2>custom</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/Themes.html">Themes</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/Views.html">Views</a></h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 col-sm-push-4">
            <h2>components</h2>
        </div>
    </div>
    <div class="row">        
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ComponentMenuApplicationHtml.html">MenuApplication html</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/ComponentMenuApplicationComponent.html">MenuApplicationcomponent</a></h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 col-sm-push-4">
            <h2>security</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/Authentication.html">Authentication</a></h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 col-sm-push-4">
            <h2>samples</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/Culture.html">Culture</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/Chat.html">Chat</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/Todo.html">Todo</a></h3>
        </div>
        <div class="col-sm-3">
            <h3><a href="~/DrapoPages/PropertiesSameTag.html">PropertiesSameTag</a></h3>
        </div>
    </div>
    <hr />
</div>




