<div dc-value="" dc-label="" dc-onclick="" dc-disabled="false" dc-notify="true">
    <!--Data-->
    <div>
        <div d-dataKey="dcProperties" d-dataType="parent" d-dataLoadType="reference" d-dataValue="dc-"></div>
    </div>
    <div style="width:100%">
        <!--Layout-->
        <div d-class="{ppcCheckboxLayout,ppcCheckboxDisabled:{{dcProperties.disabled}}}">
            <input class="ppcCheckboxInput" type="checkbox" />
            <span class="ppcCheckboxLabel"></span>
        </div>
    </div>
</div>