.ppSwitch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-bottom: 0px;
    margin-top: 4px;
}

    .ppSwitch input {
        display: none;
    }

.ppSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px;
}

    .ppSlider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: #fff;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 2px;
    }

input:checked + .ppSlider {
    background-color: #993333;
}

input:focus + .ppSlider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .ppSlider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
